.productContainer{
    position: relative;
    overflow: hidden;
    .moreDetails{
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        padding: .5rem;
        text-decoration: none;
        transform: translateY(-100%) ;
        transform-origin: top;
        transition: transform .2s ease;
    }

    &:hover{
        .moreDetails{
            transform: translateY(0%);
            transform-origin: bottom;
        }
    }
}

